NodeRed
    [
    {
        "id": "b763489fab48c72a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "231945a7bac2be12",
        "type": "group",
        "z": "b763489fab48c72a",
        "name": "Manuelle Eingabe",
        "style": {
            "label": true,
            "fill": "#c8e7a7",
            "fill-opacity": "0.41"
        },
        "nodes": [
            "3265f3b476ca7201",
            "12c771ef68fdb338",
            "840e413706179453",
            "4fc832126e771022"
        ],
        "x": 74,
        "y": 599,
        "w": 452,
        "h": 242
    },
    {
        "id": "49e5e5886305d821",
        "type": "group",
        "z": "b763489fab48c72a",
        "name": "Automatische Eingabe",
        "style": {
            "label": true,
            "fill": "#7fb7df",
            "fill-opacity": "0.41"
        },
        "nodes": [
            "5c9085800271e489",
            "3835e996c44f5ea5"
        ],
        "x": 214,
        "y": 439,
        "w": 292,
        "h": 122
    },
    {
        "id": "d9ad1f2d868c728c",
        "type": "group",
        "z": "b763489fab48c72a",
        "name": "Anzeige der Eingabe",
        "style": {
            "label": true,
            "fill": "#d1d1d1",
            "fill-opacity": "0.26"
        },
        "nodes": [
            "54a32b8ff77a1f4d",
            "cf15212a68d8615a",
            "52060b0d75612e5e"
        ],
        "x": 854,
        "y": 459,
        "w": 472,
        "h": 122
    },
    {
        "id": "669ddd45fbba9a48",
        "type": "group",
        "z": "b763489fab48c72a",
        "name": "Ausführung der Eingabe",
        "style": {
            "label": true,
            "fill": "#d1d1d1",
            "fill-opacity": "0.26"
        },
        "nodes": [
            "622185dcfab49592",
            "a8db088432557781"
        ],
        "x": 854,
        "y": 679,
        "w": 472,
        "h": 82
    },
    {
        "id": "f18af0c3e6fe3dc3",
        "type": "group",
        "z": "b763489fab48c72a",
        "name": "",
        "style": {
            "fill": "#d1d1d1",
            "label": true,
            "fill-opacity": "0.26"
        },
        "nodes": [
            "360298c4d2e1f01d",
            "ed05d27df46ee161",
            "59a4d1bf879fc7c4",
            "76231a479a7f9293",
            "5c61bfb03242e9ec"
        ],
        "x": 74,
        "y": 93,
        "w": 1292,
        "h": 314
    },
    {
        "id": "3bf1f9a78331ff0d",
        "type": "group",
        "z": "b763489fab48c72a",
        "name": "",
        "style": {
            "fill": "#d1d1d1",
            "fill-opacity": "0.26",
            "label": true
        },
        "nodes": [
            "2550b7117d6b6046",
            "f68ba43ccd65bfab",
            "1baa87c3266f08f6",
            "4deae68f0e977476",
            "88f20f5bf8b7b6ba"
        ],
        "x": 74,
        "y": 893,
        "w": 1298,
        "h": 314
    },
    {
        "id": "76231a479a7f9293",
        "type": "group",
        "z": "b763489fab48c72a",
        "g": "f18af0c3e6fe3dc3",
        "name": "false, Fenster öffnet sich und sendet 200 ans Arduino",
        "style": {
            "fill": "#c8e7a7",
            "fill-opacity": "0.41",
            "label": true
        },
        "nodes": [
            "ea527e1d6ec82e4f",
            "6cec3f13f311d2ac",
            "39a7aad967e0263f"
        ],
        "x": 514,
        "y": 259,
        "w": 338,
        "h": 122
    },
    {
        "id": "5c61bfb03242e9ec",
        "type": "group",
        "z": "b763489fab48c72a",
        "g": "f18af0c3e6fe3dc3",
        "name": "true, Fenster schließt sich und sendet 100 ans Arduino",
        "style": {
            "fill": "#7fb7df",
            "label": true,
            "fill-opacity": "0.41"
        },
        "nodes": [
            "bd28c0fd3da8321f",
            "05a96b72fa8cc768",
            "b4f3506c3cd34062"
        ],
        "x": 514,
        "y": 119,
        "w": 346,
        "h": 122
    },
    {
        "id": "4deae68f0e977476",
        "type": "group",
        "z": "b763489fab48c72a",
        "g": "3bf1f9a78331ff0d",
        "name": "true, Fenster öffnet sich und sendet 1000 ans Arduino",
        "style": {
            "label": true,
            "fill-opacity": "0.41",
            "fill": "#ffff7f"
        },
        "nodes": [
            "bf73aef9a8669854",
            "f75c32e7da059863",
            "16fda237887578d6",
            "b7dde7cbab8cf30e",
            "c72e282ffe6d4bcf"
        ],
        "x": 494,
        "y": 919,
        "w": 852,
        "h": 122
    },
    {
        "id": "88f20f5bf8b7b6ba",
        "type": "group",
        "z": "b763489fab48c72a",
        "g": "3bf1f9a78331ff0d",
        "name": "true, Fenster schließt sich und sendet 2000 ans Arduino",
        "style": {
            "fill-opacity": "0.41",
            "label": true,
            "fill": "#b797cf"
        },
        "nodes": [
            "e78a32eac53b62b7",
            "e9298ac12ae18073",
            "92ec2b2241b5fb81"
        ],
        "x": 494,
        "y": 1059,
        "w": 354,
        "h": 122
    },
    {
        "id": "54a32b8ff77a1f4d",
        "type": "ui_gauge",
        "z": "b763489fab48c72a",
        "g": "d9ad1f2d868c728c",
        "name": "",
        "group": "7e580d72844b435f",
        "order": 2,
        "width": "6",
        "height": "5",
        "gtype": "gage",
        "title": "Temp Gauge",
        "label": "C°",
        "format": "{{value}}",
        "min": "5",
        "max": "28",
        "colors": [
            "#4d62fe",
            "#f7a922",
            "#fe6c6c"
        ],
        "seg1": "12,5",
        "seg2": "22",
        "x": 1190,
        "y": 500,
        "wires": []
    },
    {
        "id": "cf15212a68d8615a",
        "type": "ui_chart",
        "z": "b763489fab48c72a",
        "g": "d9ad1f2d868c728c",
        "name": "",
        "group": "7e580d72844b435f",
        "order": 1,
        "width": 6,
        "height": 5,
        "label": "Temp-Time Graph",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "30",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1210,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "3265f3b476ca7201",
        "type": "ui_numeric",
        "z": "b763489fab48c72a",
        "g": "231945a7bac2be12",
        "name": "",
        "label": "Numeric",
        "tooltip": "",
        "group": "8542ada3a720beae",
        "order": 2,
        "width": "6",
        "height": "1",
        "wrap": false,
        "passthru": false,
        "topic": "counter",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "5",
        "step": "1",
        "x": 300,
        "y": 640,
        "wires": [
            [
                "4fc832126e771022"
            ]
        ]
    },
    {
        "id": "a8db088432557781",
        "type": "mqtt out",
        "z": "b763489fab48c72a",
        "g": "669ddd45fbba9a48",
        "name": "Arduino Output",
        "topic": "temp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f255954484b0bb57",
        "x": 1220,
        "y": 720,
        "wires": []
    },
    {
        "id": "12c771ef68fdb338",
        "type": "ui_slider",
        "z": "b763489fab48c72a",
        "g": "231945a7bac2be12",
        "name": "",
        "label": "Slider",
        "tooltip": "",
        "group": "8542ada3a720beae",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": false,
        "outs": "all",
        "topic": "counter",
        "topicType": "msg",
        "min": "5",
        "max": "28",
        "step": 1,
        "x": 310,
        "y": 800,
        "wires": [
            [
                "840e413706179453",
                "3e92fb5431657714"
            ]
        ]
    },
    {
        "id": "840e413706179453",
        "type": "function",
        "z": "b763489fab48c72a",
        "g": "231945a7bac2be12",
        "name": "s funktion",
        "func": "var payload = msg.payload;\n\n\nif (payload == 5) {payload = 0;}\nelse if (payload >= 6 && payload <= 12) {payload = 1;}\nelse if (payload >= 13 && payload <= 16) {payload = 2;}\nelse if (payload >= 17 && payload <= 20) {payload = 3;}\nelse if (payload >= 21 && payload <= 24) {payload = 4;}\nelse if (payload >= 25 && payload <= 28) {payload = 5;}\n\nmsg.payload=payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 640,
        "wires": [
            [
                "3265f3b476ca7201"
            ]
        ]
    },
    {
        "id": "4fc832126e771022",
        "type": "function",
        "z": "b763489fab48c72a",
        "g": "231945a7bac2be12",
        "name": "n funktion",
        "func": "var payload = msg.payload;\n\nif (payload == 0){\n    payload = 5;\n}\nelse if (payload == 1){\n    payload = 12;\n}\nelse if (payload == 2){\n    payload = 16;\n}\nelse if (payload == 3){\n    payload = 20;\n}\nelse if (payload == 4){\n    payload = 24;\n}\nelse if (payload == 5){\n    payload = 28;\n}\n\nmsg.payload=payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 640,
        "wires": [
            [
                "12c771ef68fdb338",
                "3e92fb5431657714"
            ]
        ]
    },
    {
        "id": "52060b0d75612e5e",
        "type": "trigger",
        "z": "b763489fab48c72a",
        "g": "d9ad1f2d868c728c",
        "name": "repeat",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-101",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 930,
        "y": 520,
        "wires": [
            [
                "cf15212a68d8615a",
                "54a32b8ff77a1f4d"
            ]
        ]
    },
    {
        "id": "5c9085800271e489",
        "type": "mqtt in",
        "z": "b763489fab48c72a",
        "g": "49e5e5886305d821",
        "name": "Input Arduino ",
        "topic": "automatictemp",
        "qos": "2",
        "datatype": "auto",
        "broker": "f255954484b0bb57",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 520,
        "wires": [
            [
                "52060b0d75612e5e"
            ]
        ]
    },
    {
        "id": "3835e996c44f5ea5",
        "type": "comment",
        "z": "b763489fab48c72a",
        "g": "49e5e5886305d821",
        "name": "Input berechneter Wetterdaten",
        "info": "",
        "x": 360,
        "y": 480,
        "wires": []
    },
    {
        "id": "2550b7117d6b6046",
        "type": "mqtt out",
        "z": "b763489fab48c72a",
        "g": "3bf1f9a78331ff0d",
        "name": "Arduino Output",
        "topic": "temp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f255954484b0bb57",
        "x": 1100,
        "y": 1100,
        "wires": []
    },
    {
        "id": "bf73aef9a8669854",
        "type": "change",
        "z": "b763489fab48c72a",
        "g": "4deae68f0e977476",
        "name": "manuel",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[],\"show\":[\"project_Status\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 960,
        "wires": [
            [
                "16fda237887578d6"
            ]
        ]
    },
    {
        "id": "16fda237887578d6",
        "type": "ui_ui_control",
        "z": "b763489fab48c72a",
        "g": "4deae68f0e977476",
        "name": "",
        "events": "all",
        "x": 720,
        "y": 960,
        "wires": [
            [
                "b7dde7cbab8cf30e"
            ]
        ]
    },
    {
        "id": "e9298ac12ae18073",
        "type": "change",
        "z": "b763489fab48c72a",
        "g": "88f20f5bf8b7b6ba",
        "name": "manuel",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"project_Status\"],\"show\":[]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1140,
        "wires": [
            [
                "92ec2b2241b5fb81"
            ]
        ]
    },
    {
        "id": "92ec2b2241b5fb81",
        "type": "ui_ui_control",
        "z": "b763489fab48c72a",
        "g": "88f20f5bf8b7b6ba",
        "name": "",
        "events": "all",
        "x": 720,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "c72e282ffe6d4bcf",
        "type": "ui_text",
        "z": "b763489fab48c72a",
        "g": "4deae68f0e977476",
        "group": "3288556c2d956316",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status Motor",
        "format": "{{msg.state}}",
        "layout": "row-spread",
        "x": 1250,
        "y": 960,
        "wires": []
    },
    {
        "id": "f68ba43ccd65bfab",
        "type": "switch",
        "z": "b763489fab48c72a",
        "g": "3bf1f9a78331ff0d",
        "name": "true or false",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 1040,
        "wires": [
            [
                "bf73aef9a8669854",
                "f75c32e7da059863"
            ],
            [
                "e9298ac12ae18073",
                "e78a32eac53b62b7"
            ]
        ]
    },
    {
        "id": "1baa87c3266f08f6",
        "type": "ui_switch",
        "z": "b763489fab48c72a",
        "g": "3bf1f9a78331ff0d",
        "name": "",
        "label": "Notfall Stop Motor",
        "tooltip": "",
        "group": "02e25ac5df9298ac",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 190,
        "y": 1040,
        "wires": [
            [
                "f68ba43ccd65bfab"
            ]
        ]
    },
    {
        "id": "3e92fb5431657714",
        "type": "trigger",
        "z": "b763489fab48c72a",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 660,
        "y": 720,
        "wires": [
            [
                "622185dcfab49592",
                "52060b0d75612e5e"
            ]
        ]
    },
    {
        "id": "f75c32e7da059863",
        "type": "change",
        "z": "b763489fab48c72a",
        "g": "4deae68f0e977476",
        "name": "set to 1000",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1000",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 1000,
        "wires": [
            [
                "2550b7117d6b6046"
            ]
        ]
    },
    {
        "id": "e78a32eac53b62b7",
        "type": "change",
        "z": "b763489fab48c72a",
        "g": "88f20f5bf8b7b6ba",
        "name": "set to 2000",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "2000",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 1100,
        "wires": [
            [
                "2550b7117d6b6046"
            ]
        ]
    },
    {
        "id": "622185dcfab49592",
        "type": "trigger",
        "z": "b763489fab48c72a",
        "g": "669ddd45fbba9a48",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "4",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 940,
        "y": 720,
        "wires": [
            [
                "a8db088432557781"
            ]
        ]
    },
    {
        "id": "b7dde7cbab8cf30e",
        "type": "change",
        "z": "b763489fab48c72a",
        "g": "4deae68f0e977476",
        "name": "Set to value \"Stopp\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Stopp",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 960,
        "wires": [
            [
                "c72e282ffe6d4bcf"
            ]
        ]
    },
    {
        "id": "360298c4d2e1f01d",
        "type": "switch",
        "z": "b763489fab48c72a",
        "g": "f18af0c3e6fe3dc3",
        "name": "true or false",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 280,
        "wires": [
            [
                "bd28c0fd3da8321f",
                "05a96b72fa8cc768"
            ],
            [
                "ea527e1d6ec82e4f",
                "39a7aad967e0263f"
            ]
        ]
    },
    {
        "id": "ed05d27df46ee161",
        "type": "ui_switch",
        "z": "b763489fab48c72a",
        "g": "f18af0c3e6fe3dc3",
        "name": "",
        "label": "Automatisch Off / On",
        "tooltip": "",
        "group": "02e25ac5df9298ac",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 200,
        "y": 280,
        "wires": [
            [
                "360298c4d2e1f01d"
            ]
        ]
    },
    {
        "id": "ea527e1d6ec82e4f",
        "type": "change",
        "z": "b763489fab48c72a",
        "g": "76231a479a7f9293",
        "name": "manuel",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[],\"show\":[\"project_Diagrams\",\"project_Inputs\",\"project_Switches\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 340,
        "wires": [
            [
                "6cec3f13f311d2ac"
            ]
        ]
    },
    {
        "id": "6cec3f13f311d2ac",
        "type": "ui_ui_control",
        "z": "b763489fab48c72a",
        "g": "76231a479a7f9293",
        "name": "",
        "events": "change",
        "x": 740,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "39a7aad967e0263f",
        "type": "change",
        "z": "b763489fab48c72a",
        "g": "76231a479a7f9293",
        "name": "set to 200",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "200",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 300,
        "wires": [
            [
                "59a4d1bf879fc7c4"
            ]
        ]
    },
    {
        "id": "bd28c0fd3da8321f",
        "type": "change",
        "z": "b763489fab48c72a",
        "g": "5c61bfb03242e9ec",
        "name": "set to 100",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "100",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 200,
        "wires": [
            [
                "59a4d1bf879fc7c4"
            ]
        ]
    },
    {
        "id": "05a96b72fa8cc768",
        "type": "change",
        "z": "b763489fab48c72a",
        "g": "5c61bfb03242e9ec",
        "name": "automatic",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"project_Inputs\"],\"show\":[\"project_Diagrams\",\"project_Switches\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 160,
        "wires": [
            [
                "b4f3506c3cd34062"
            ]
        ]
    },
    {
        "id": "b4f3506c3cd34062",
        "type": "ui_ui_control",
        "z": "b763489fab48c72a",
        "g": "5c61bfb03242e9ec",
        "name": "",
        "events": "change",
        "x": 740,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "59a4d1bf879fc7c4",
        "type": "mqtt out",
        "z": "b763489fab48c72a",
        "g": "f18af0c3e6fe3dc3",
        "name": "Output Arduino ",
        "topic": "temp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f255954484b0bb57",
        "x": 1260,
        "y": 260,
        "wires": []
    },
    {
        "id": "7e580d72844b435f",
        "type": "ui_group",
        "name": "Diagrams",
        "tab": "1084a74ab24f28a2",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8542ada3a720beae",
        "type": "ui_group",
        "name": "Inputs",
        "tab": "1084a74ab24f28a2",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f255954484b0bb57",
        "type": "mqtt-broker",
        "name": "Projekt",
        "broker": "mqtt.iot.informatik.uni-oldenburg.de",
        "port": "2883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3288556c2d956316",
        "type": "ui_group",
        "name": "Status",
        "tab": "1084a74ab24f28a2",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "02e25ac5df9298ac",
        "type": "ui_group",
        "name": "Switches",
        "tab": "1084a74ab24f28a2",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1084a74ab24f28a2",
        "type": "ui_tab",
        "name": "project",
        "icon": "Dashboard",
        "disabled": false,
        "hidden": false
    }
]
    
